  <footer class="footer">
        <div class="container">
          <div class="content has-text-centered">
            <p>
                <a target="_blank" href="https://www.instagram.com/amau.medicina/"> <i class="fab fa-instagram"></i> Instagram</a> &nbsp; - &nbsp; 
                <a target="_blank" href="https://www.facebook.com/mauriciocidparra"> <i class="fab fa-facebook"></i> Facebook</a> &nbsp; -  &nbsp; 
                <a target="_blank" href="mailto:mauriciocidparra@gmail.com"> <i class="fas fa-at"></i>Email</a>
              </p>
          </div>
        </div>
  </footer> 
