<nav class="navbar is-primary">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" href="{{ site.url }}">
				<img src="{{ site.url }}/images/amau-logo-white.png" alt="{{ site.title }}" width="210" height="35">
			</a>
			<div class="navbar-burger burger" data-target="navMenuColorprimary-example">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div id="navMenuColorprimary-example" class="navbar-menu">
			<div class="navbar-start">
				<a class="navbar-item" href="{{ site.url }}#calendar">
					<span class="icon"><i class="fas fa-calendar-alt"></i> </span>Calendario 
				</a>
				<a class="navbar-item" href="{{ site.url }}#music">
						<span class="icon"><i class="fas fa-music"></i> </span>Musica 
				</a>
				<a class="navbar-item" href="{{ site.url }}#photos">
						<span class="icon"><i class="fas fa-camera"></i> </span>Photos 
				</a>
				<a class="navbar-item" href="{{ site.url }}#videos">
						<span class="icon"><i class="fas fa-video"></i> </span>Videos 
				</a>
			</div>
		</div> 
	</div>
</nav>